html,
body,
#app,
#map {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    background: #4285F4;
    min-height: 50px;
    padding-top: 8px;
    transition: margin-top ease 0.7s;
}

header.collapsed {
    margin-top: -126px;
}

h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 10px
}
.form-control {
    color: white;
    height: 35px;
    border-radius: 3px;
    background: #6BB1EF;
    border: none;
}

.hint {
    padding: 8px 0px;
    margin: 0px;
}

#slide {
    border: 1px solid #F0AD4E;
    background: #F0AD4E;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px auto -20px;
    padding-top: 8px;
    transition: all ease 0.7s;
    cursor: pointer;
    z-index: 1000;
}

header.collapsed #slide {
    transform: rotateZ(180deg);
}

@media screen and (max-width: 768px) {
    .form-control {
        margin-top: 1px;
    }
    .btn {
        width: 100%;
        margin-top: 1px
    }
    header.collapsed {
        margin-top: -253px;
    }
}