<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>El-finder | search for places in your area</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header :class="{'expanded' : headerExpanded, 'collapsed' : !headerExpanded}">
            <h1>El-finder</h1>
            <form @submit.prevent="getLocation(address)" class="form-inline">
                <label for="address" class="hidden-xs">Address: </label>
                <input id="address" type="text" v-model="address" class="form-control" placeholder="your address">

                <label for="type" class="hidden-xs">Type: </label>
                <input id="type" type="text" value="" v-model="type" class="form-control" placeholder="Type">

                <label for="distance" class="hidden-xs">Distance: </label>
                <input id="distance" type="text" v-model="distance" class="form-control" placeholder="Distance">

                <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <p class="hint">Searching for {{type}}s that are {{distance}} meters away from {{address}} </p>
            <div id="slide" @click="headerExpanded = !headerExpanded">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
        </header>
        <div id="map"></div>
    </div>

    <script src="js/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkBoI0Itcd4ureFFt7iQRXsc1gBU1y0Z0&libraries=places,visualization" defer></script>
    <script src="js/app.js" defer></script>
</body>

</html>