<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>El-finder | search for places in your area</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <form @submit.prevent="getLocation(address)" class="form-inline">
                <label for="address"></label>
                <input id="address" type="text" v-model="address" class="form-control">

                <label for="type"></label>
                <input id="type" type="text" value="" v-model="type" class="form-control">

                <label for="distance"></label>
                <input id="distance" type="text" v-model="distance" class="form-control">

                <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <p class="hint">Searching for {{type}}s that are {{distance}} meters away from {{address}} </p>
        </header>
        <div id="map"></div>
    </div>

    <script src="js/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkBoI0Itcd4ureFFt7iQRXsc1gBU1y0Z0&libraries=places,visualization" defer></script>
    <script src="js/app.js" defer></script>
</body>

</html>